.advantages {
  position: relative;

  &::before,
  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;

      background-repeat: no-repeat;
      background-size: contain;
      z-index: -50;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      width: 753px;
      height: 402px;

      top: 266px;
      left: 0;

      background-image: url("../../img/cloud-3-tablet@1x.png");

      @media (min-resolution: $retina-resolution) {
        background-image: url("../../img/cloud-3-tablet@2x.png");
      }
    }

    @media (min-width: $desktop-width) {
      width: 888px;

      top: 120px;
      transform: translateY(-100%);

      background-image: url("../../img/cloud-3-desktop@1x.png");

      @media (min-resolution: $retina-resolution) {
        background-image: url("../../img/cloud-3-desktop@2x.png");
      }
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      width: 555px;
      height: 264px;

      top: 765px;
      right: 0;

      background-image: url("../../img/cloud-4-tablet@1x.png");

      @media (min-resolution: $retina-resolution) {
        background-image: url("../../img/cloud-4-tablet@2x.png");
      }
    }

    @media (min-width: $desktop-width) {
      width: 449px;
      height: 263px;

      top: 166px;
      transform: translateY(-100%);

      background-image: url("../../img/cloud-4-desktop@1x.png");

      @media (min-resolution: $retina-resolution) {
        background-image: url("../../img/cloud-4-desktop@2x.png");
      }
    }
  }
}

.advantages__container {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 135px 0 100px;
  }
}

.advantages__title {
  margin-bottom: 37px;

  text-align: center;

  &::after {
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $desktop-width) {
      bottom: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    padding: 0 120px;
  }
}

.advantages__swiper-wrapper {
  @media (min-width: $desktop-width) {
    overflow: hidden;

    width: 100%;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    gap: 0;
    justify-content: flex-start;
  }

  li {
    display: flex;

    @media (min-width: $tablet-width) {
      width: 324px;
      height: auto;
    }

    @media (min-width: $desktop-width) {
      width: 380px;
    }
  }
}

.advantages__item {
  position: relative;

  padding: 19px 9px;

  text-align: center;
  color: $primary-grey;

  flex-direction: column;
  gap: 15px;
  align-items: center;

  border: 1px rgba($basic-blue, 10%) solid;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    min-height: 340px;

    padding: 29px 19px;
  }

  @media (min-width: $desktop-width) {
    min-height: auto;

    padding: 39px 19px;
  }

  &::before {
    content: "";
    position: absolute;

    width: 42px;
    height: 42px;

    left: 50%;
    transform: translateX(-50%);

    border: 1px $basic-blue solid;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 48px;
      height: 48px;
    }

    @media (min-width: $desktop-width) {
      width: 54px;
      height: 54px;
    }
  }

  &--safety::before {
    background-image: url("/__spritemap#sprite-safety-view");
  }

  &--knowledge::before {
    background-image: url("/__spritemap#sprite-knowledge-view");
  }

  &--equipment::before {
    background-image: url("/__spritemap#sprite-equipment-view");
  }

  &--route::before {
    background-image: url("/__spritemap#sprite-route-view");
  }

  &--ecology::before {
    background-image: url("/__spritemap#sprite-ecology-view");
  }

  h3 {
    margin: 0;
    padding-top: 62px;

    font-weight: 600;
    font-size: 14px;
    line-height: 100%;

    @media (min-width: $tablet-width) {
      padding-top: 73px;

      font-size: 16px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 84px;

      font-size: 18px;
    }
  }

  h3 > br {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  p {
    margin: 0;

    font-size: 12px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.advantages__button-wrapper {
  display: none;

  @media (min-width: $desktop-width) {
    margin-top: 50px;
    padding: 0 120px;

    display: flex;
    gap: 4px;
    justify-content: center;
  }
}
