.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-align: center;
  color: $basic-white;

  border: 1px $basic-blue solid;
  background-color: $basic-blue;

  &:hover {
    cursor: pointer;

    color: $active;

    border-color: $active;
    background-color: $basic-white;
  }

  &:focus {
    outline: none;

    color: $active;

    border-color: $basic-white;
    background-color: $basic-white;
  }

  &:active {
    color: $basic-white;

    border-color: $active;
    background-color: $active;
  }

  &:disabled {
    pointer-events: none;

    color: $basic-white;

    border-color: $disabled;
    background-color: $disabled;
  }
}
