.logo {
  display: flex;
  justify-content: flex-end;

  @media (min-width: $tablet-width) {
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    width: fit-content;
    padding: 10px 31px 10px 32px;
  }
}
