.main-title {
  position: relative;

  margin: 0;

  font-weight: 800;
  font-size: 26px;
  line-height: 100%;
  color: rgba($primary-grey, 3%);

  &::after {
    content: attr(data-main-title);
    position: absolute;
    display: block;

    font-weight: 800;
    font-size: 22px;
    line-height: 100%;
    color: $primary-grey;

    bottom: -12px;
    left: 0;
    z-index: 20;

    @media (min-width: $tablet-width) {
      font-size: 25px;

      bottom: -5px;
    }

    @media (min-width: $desktop-width) {
      font-size: 35px;

      bottom: 1px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 55px;
  }
}
