.reviews__container {
  padding: 20px 0 5px;

  @media (min-width: $tablet-width) {
    padding: 40px 0 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 49px;
  }
}

.reviews__title-wrapper {
  margin-bottom: 17px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 0 45px;

    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.reviews__title {
  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 45px;
  }

  &::after {
    bottom: 25px;
  }
}

.reviews__swiper-wrapper {
  overflow: hidden;

  width: $mobile-width;
  padding: 15px;

  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;

    padding: 25px 45px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;

    padding: 38px 130px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    height: auto;

    @media (min-width: $tablet-width) {
      width: 565px;

      display: grid;
    }

    @media (min-width: $desktop-width) {
      width: 700px;
    }
  }
}

.reviews__item {
  padding: 20px;
  background-color: $basic-white;

  box-shadow: 0 0 20px 0 rgba($active, 10%);

  @media (min-width: $tablet-width) {
    box-shadow: 0 0 30px 0 rgba($active, 10%);

    grid-template-columns: 186px auto;
    grid-template-rows: repeat(2, auto);
    gap: 25px 30px;
  }

  @media (min-width: $desktop-width) {
    box-shadow: 0 0 20px 0 rgba($active, 10%);

    grid-template-columns: 258px auto;
    gap: 2px 30px;
  }
}

.reviews__avatar-wrapper {
  @media (min-width: $tablet-width) {
    grid-row: 1/-1;
  }
}

.reviews__avatar {
  display: block;

  height: 100%;

  object-fit: cover;
}

.reviews__text-wrapper {
  overflow-x: scroll;
  max-height: 208px;

  margin: 19px 0 16px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $tablet-width) {
    overflow-x: visible;
    max-height: none;

    margin: 0;
  }

  p {
    margin: 0;

    font-size: 12px;
    line-height: 18px;

    @media (min-width: $desktop-width) {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.reviews__name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: $tablet-width) {
    gap: 6px;
  }

  @media (min-width: $desktop-width) {
    gap: 8px;
  }
}

.reviews__name {
  margin: 0;

  font-size: 12px;
  line-height: 100%;

  @media (min-width: $tablet-width) {
    font-size: 13px;
  }
}

.reviews__information {
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
}
