.socials {
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.socials__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.socials__link {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  fill: $primary-grey;
  border: 1px rgba($primary-grey, 30%) solid;

  &:hover {
    border-color: $primary-grey;
  }

  &:focus {
    outline: none;
    border-color: transparent;
  }

  &:active {
    background-color: $basic-blue;
    border-color: $basic-blue;

    .socials__icon {
      fill: $basic-white;
    }
  }

  &--disabled {
    pointer-events: none;
    border-color: rgba($primary-grey, 30%);

    fill: rgba($primary-grey, 30%);
  }
}

.socials__icon {
  fill: inherit;
}
