.socials {
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.socials__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.socials__link {
  width: 30px;
  height: 30px;
}
