.training {
  position: relative;

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;

      width: 465px;
      height: 280px;

      bottom: 158px;
      right: 0;

      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../../img/cloud-2-tablet@1x.png");
      z-index: -50;

      @media (min-resolution: $retina-resolution) {
        background-image: url("../../img/cloud-2-tablet@2x.png");
      }
    }

    @media (min-width: $desktop-width) {
      width: 633px;

      bottom: -4px;

      background-image: url("../../img/cloud-2-desktop@1x.png");

      @media (min-resolution: $retina-resolution) {
        background-image: url("../../img/cloud-2-desktop@2x.png");
      }
    }
  }
}

.training__container {
  padding-top: 20px;
  padding-bottom: 20px;

  color: $primary-grey;

  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 46px;
    padding-bottom: 62px;

    gap: 56px;
  }
}

.training__education-wrapper {
  p {
    margin: 0;

    font-size: 14px;
    line-height: 20px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      max-width: 820px;
    }
  }
}

.training__title {
  margin-bottom: 47px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 29px;
  }

  &::after {
    @media (min-width: $desktop-width) {
      bottom: 3px;
    }
  }
}
